        /* ||| General setup |||*/

    html, body {
        margin: 0;
        padding: 0;
    }

    html {
        background-color: silver;
        margin: 0 auto;
    }

    body {
        font: normal 100%;
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 1%;
        margin-top: 1%;
        background-color: #FFFFFF;
    }

        /*||| Fonts |||
           Tiene su propia CSS
       */


        /* ||| General Typography ||| */

    h1, h2, h3, h4, h5, h6 {
        font-family: 'proxima_nova_scosfregular', sans-serif;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 1rem;
    }

.cajalayout {
    padding: 0;
    margin: 0;
}

ol, ul {
    font-family: 'latoregular', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    list-style-type: none;
    padding: 1rem;
    list-style: inside;
}

.clausulaprivacidad ul li {
    margin-bottom: 3rem;
    text-align: justify;
    list-style-type: circle;
    list-style-position: outside;
    margin-bottom: 1rem;
}

.listainterna ul li {
    font-family: 'latoregular', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    list-style-type: disc;
    list-style-position: outside;
    margin-top: .4rem;
    margin-bottom: .4rem;
}

p, label {
    font-family: 'latoregular', sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.2;
    text-align: center;
}

    select, textarea {
        font-family: 'latoregular', sans-serif;
        font-size: 100%;
        box-sizing: border-box;
    }


        /* ||| Links settings ||| */

    a:link {
        text-decoration: underline;
    }
    
    
        /* ||| Header settings ||| */

    header {
        margin-top: .1rem;
        margin-bottom: .5rem;
        padding: .5rem 1rem;
    }

    .section {
        display: flex;
        height: 1.5rem;
    }

    .article {
        flex: 1;
    }

    .article1 {
        flex: 1;
    }

    .article2 {
        flex: 1;
        padding-right: 0 5rem;
    }

    header img {
        float: left;
        height: 1.5rem;
    }

    nav img {
        float: right;
        height: 1.5rem;
    }


        /* ||| Main layout ||| */

main {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 1rem;
}


        /* ||| Seccion main titulos ||| */

    .Titu {
        font-family: 'proxima_nova_scosfregular', sans-serif;
        font-size: 1.4rem;
        text-align: center;
        color: #808080;
        margin-bottom: 0;
    }

    .Titd {
        font-family: 'proxima_nova_scosfregular', sans-serif;
        font-size: 1.4rem;
        text-align: center;
        color: #000000;
        margin-top: 0;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }

.Titd5 {
    font-family: 'proxima_nova_scosfregular', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    color: #000000;
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 0;
}


.Titt {
    font-family: 'latoregular', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: #666666;
    margin-top: 0;
    margin-bottom: 1rem;
}

.Titt5 {
    font-family: 'latoregular', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: #666666;
    margin-bottom: 0;
}

.submain2 {
     padding-top: 1.5rem;
}

        /* |||  New Main  |||  */

/* |||  Datos para Enganche  |||  */

.solosi2 {
    font-size: .85rem;
    font-style: italic;
}

.solosi3 {
    font-size: .85rem;   
}

/* ||| Ultima(cuarta) seccion main ||| */

/*.casillaparaavanzar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.confirmacionfinal {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.terms {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.praseguir {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input, submit, button {
    font-family: 'latoregular', sans-serif;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    line-height: 1.2;
    color: white;
    font-weight: bold;
    background-color: steelblue;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    box-sizing: border-box;
}

.confirmacionfinal {
    text-align: center;
}

.clausulaprivacidad {
    text-align: center;
}*/

/* ||| Datos nuevos para casilla de verificación para poder avanzar ||| */

.casillaparaavanzar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.confirmacionfinal {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.praseguir {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .praseguir input {
        font-family: 'latoregular', sans-serif;
        font-size: 1rem;
        text-align: center;
        color: white;
        /*font-weight: bold;*/
        background-color: steelblue;
        padding: 1rem 3rem;
        border-radius: 7px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        margin-bottom: 1rem;
    }

.terms {
    font-family: 'latoregular', sans-serif;
    font-size: .5rem;
    color: black;
}


    .terms input {
        -webkit-appearance: none;
        border-bottom: 3px solid red;
        width: 5px;
        height: 25px;
        padding: 10px;
    }

/* Customize the label (the container) */
.container {
    font-family: 'latoregular', sans-serif;
    font-size: 1rem;
    color: black;
    display: block;
    position: relative;
    padding-left: 28px;
    text-align: center;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*margin-left: auto;
    margin-right: auto;*/
    margin-bottom: 2rem;
}

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: solid darkgray;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.confirmacionfinal {
    text-align: center;
}

.clausulaprivacidad {
    text-align: left;
}

/* ||| Footer ||| */
footer {
}




            /* ||| Breakpoint 648px ||| */

@media (min-width: 648px) {
    header {
        margin-top: .1rem;
        padding: .5rem 1rem;
    }

    hr {
        margin-bottom: 0;
    }

    .section {
        display: flex;
        height: 2.2rem;
    }

    header img {
        float: left;
        height: 2rem;
    }

    nav img {
        float: right;
        height: 2rem;
    }

    main {
        display: grid;
        grid-template-columns: 30% 70%;
        margin: 0;
        padding: 0;
    }

    .submain {
        background-color: #dbdbdb;
        padding-top: 4rem;
    }

    .Titd {
        color: black;
        font-weight: bolder;
        margin-bottom: 3rem;
    }

    .Titu {
        color: #808080;
        font-weight: bold;
    }

    .Titt {
        color: #666666;
        font-weight: bold;
        margin-bottom: 3rem;
    }

    .Titt5 {
        color: #666666;
        font-weight: bold;
        margin-bottom: 0;
    }

    
    .submain2 {
        padding-top: 3.5rem;
        min-height: 525px;
    }

    .cajalayout {
        padding-left: 1.2rem;
    }
}

            /* ||| Breakpoint 1100px ||| */

@media (min-width: 1100px) {

    .cajalayout {
        padding-left: 3rem;
    }

}

