   /* ||| General setup |||*/
   body {
       box-sizing: border-box;
       background-color: #ddd;
   }


   .wrapper {
       width: 100%;
       max-width: 1170px;
       min-width: 300px;
       background-color: #fff;
       margin: 0 auto;

   }




   /*||| Fonts |||
           Tiene su propia CSS
       */


   /* ||| General Typography ||| */

   /*  color: #999999;  strong Gray*/
   /*  color: #C0C0C0;  Silver Txt*/
   /*  color: #666666;  pale Gray*/
   /*  color: #808080;  Gray Txt*/



   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
       font-family: 'Roboto', sans-serif;
       letter-spacing: 2px;
       text-align: center;
       margin-bottom: 1rem;
       line-height: 35px;
   }

   ol,
   ul {
       font-family: 'latoregular', sans-serif;
       font-size: 1.3rem;
       line-height: 1.3;
       list-style-type: none;
   }

   p {
       font-family: 'latoregular', sans-serif;
       font-size: .8rem;
       color: #C0C0C0;
       margin-bottom: 1rem;
       line-height: 1.2rem;
   }


   /* ||| Links settings ||| */


   .card__link {
       text-decoration: none;
   }

   .card:hover {
       box-shadow: 0 4px 8px 0 rgba(152, 162, 179, 0.15), 0 2px 2px -1px rgba(152, 162, 179, 0.3);
       transform: translateY(-2px);
   }

   a:link {
    text-decoration: none;
    color: grey;

}

   .menu__item a:link{
       color: grey;
       font-size: 15px;
       letter-spacing: 2px;
       text-decoration: none;

   }

   .menu__item a:hover{
       color:#3d556f;

   }


   .menu__item--border a:link {
       color: #3d556f;
       font-size: 15px;
       border: 1px solid #3d556f;
       border-radius: 8px;
       padding: 5px;
       letter-spacing: 2px;

   }
   
   .menu__item--border a:hover{
       color:white;
       background-color:#3d556f;

   }
 






  


   /* ||| Header settings ||| */
   .mastheader {
       display: flex;
       justify-content: center;
       padding: 18px;
       background-color: white;
       box-sizing: border-box;
       border-bottom: 0px 0px 0px solid #424242;
       width: 100%;
       -webkit-box-shadow: 1px 2px 5px 0px #909090;
       -moz-box-shadow: 1px 2px 5px 0px #909090;
       box-shadow: 1px 2px 5px 0px #909090;
       top: 0;

   }


   .mastheader__container {
       display: flex;
       flex: 1;
       align-items: center ;


   }

   .mastheader__logo {
       display: flex;
       flex: 1;
       justify-content: space-around;
       align-items: center;
       align-content: center;
       ;

   }

   .logo {
       min-width: 130px;
       max-width: 250px;
       height: 35px;

   }

   .mastheader__navigation {

       flex: 1;
       justify-content: right;
   }

   .navigation__menu {
       display: flex;
       justify-content: space-evenly;
       align-items: center;

   }

   .mastheader_navigation_mobile {
       display: none;
   }

   .header-menu {
       display: flex;
       margin: 0;
       padding: 0;
       list-style-type: none;
       justify-content: flex-end;

   }

   .header-menu li {
       border: 2px;
       border-radius: 5em;
       padding: 6px;
       margin: .5em;

   }

   .item a:link {
       text-decoration: none;
       color: rgba(0, 0, 0, 0.8);
       font-size: 18px;
       white-space: pre-line;
       font-family: 'Roboto Condensed', sans-serif;
   }

   .item a:visited {
       color: rgba(0, 0, 0, 0.8);

   }

   .item a:hover {
       color: hotpink;
       text-decoration: none;
   }


   .item a:active {
       color: #725dd2;
       text-decoration: none;
   }

   .contact {

       padding: 1em;
       background-color: #725dd2;
       transition-duration: 1s;


   }

   .contact a {
       color: white;
       text-decoration: none;
       font-size: 18px;
       white-space: pre-line;



   }

   .contact:hover {
       background: #ddd;

   }

   .contact a:hover {
       color: hotpink;

   }

   .contact a:active {
       color: #63A69A;
   }



   .masthead {
       display: flex;
       justify-content: center;
       padding: 18px;
       background-color: white;
       box-sizing: border-box;
       border-bottom: 0px 0px 0px solid #424242;
       width: 100%;
       -webkit-box-shadow: 1px 2px 5px 0px #909090;
       -moz-box-shadow: 1px 2px 5px 0px #909090;
       box-shadow: 1px 2px 5px 0px #909090;
       top: 0;
   }

   .masthead__container {
       display: flex;
       justify-content: space-between;
       width: 100%;
   }

   .masthead__logo {
       display: flex;
   }

   .mastehead__menu {
       display: flex;
   }




   .container {
       display: flex;

   }

   .container__left {
       display: flex;
       flex: 1;
       height: 80vh;
       text-align: center;
       background: #dbdbdb;
       margin: 10px;
   }

   .hero {
       display: flex;
       flex-direction: column;
       justify-content: center;
       height: 100%;
       margin: 10px;
       align-items: center;
   }

   .hero__title {
       color: rgb(109, 109, 109);
   }

   .hero__title--bold {
       color: #111111;
   }

   .hero__subtitle {
       color: rgb(109, 109, 109);
   }

   .container__right {
       display: flex;
       flex-wrap: wrap;
       flex: 2;
       justify-content: center;
       padding-top: 80px;
       margin: 20px;
   }

   .container_box {
       display: flex;

   }

   .container__box--up {
       display: flex;
       justify-content: space-between;

   }

   .card {
       padding: 30px;
       margin: 30px;
       border-radius: 10px;
       width: 150px;
       border: 1px solid #ddd;
        /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
       text-align: center;


   }

   .container_box--down {
       display: flex;
   }

   .card_image {
       width: 80px;
   }

   .card__text {
       color: grey;
       letter-spacing: 2px;

   }

   .footer {
       display: flex;
       justify-content: center;
       background-color: #3d556f;

   }

   .footer__text {
       color: #ffff;
   }


   /* ||| Breakpoint 648px ||| */

   @media only screen and (max-width: 600px) {

       .masthead {
           display: flex;
           justify-content: center;
           padding: 18px;
           background-color: white;
           box-sizing: border-box;
           border-bottom: 0px 0px 0px solid #424242;
           width: 100%;
           -webkit-box-shadow: 1px 2px 5px 0px #909090;
           -moz-box-shadow: 1px 2px 5px 0px #909090;
           box-shadow: 1px 2px 5px 0px #909090;
           top: 0;
       }

       @media screen and (max-width: 575px) {
           .mastheader {
               flex-direction: column;
               position: fixed;
           }

           .main_content {
               margin-top: 110px;
           }

           .col-123,
           .col-124,
           input[type=submit] {
               width: 100%;
               margin-top: 0;
           }

           .container_form {
               width: 100%;
           }

           .allcontactinf {
               flex-direction: column;
           }

           .mastheader__navigation_mobile {
               display: none;
           }

           .mastheader__navigation_mobile {
               display: block;
               width: 100%;
               text-align: right;
           }

           .menu_icon {
               font-size: 30px;
               margin: 10px 0;
               cursor: pointer;
           }

           #menu_button {
               visibility: hidden;
               position: absolute;
               top: 0;
               left: 0;
           }

           .nav_menu_mobile {
               display: none;
           }

           #menu_button:checked+.nav_menu_mobile {
               display: block;
           }

           .header-menu-mobile {
               justify-content: space-between;
               text-align: center;
           }

           .masthead__container {
               display: flex;
               justify-content: space-between;
               width: 100%;
           }

           .masthead__logo {
               display: flex;
           }

           .mastehead__menu {
               display: flex;
           }



           .container {
               display: block;
           }

           .container__left {
               display: block;
               height: 30%;
           }

           .hero {
               display: block;
               margin: 0;
               padding: 5px;
               background-color: #fff;
           }

           .hero__title {
               font-size: 20px;
               color: rgb(109, 109, 109);
           }

           .hero__title--bold {
               color: #111111;
           }

           .hero__subtitle {
               color: rgb(109, 109, 109);
           }

           .container__right {
               display: flex;
               justify-content: center;
               padding-top: 10px;
               margin: 20px;
           }

           .container_box {
               display: flex;

           }

           .container__box--up {
               display: flex;
               justify-content: space-between;

           }

           .card {
               padding: 20px;
               margin: 10px;
               border-radius: 10px;
               width: 100px;
               height: 120px;
               box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
               text-align: center;


           }

           .container_box--down {
               display: flex;
           }

           .card_image {
               width: 50px;
           }

           .card__text {
               color: grey;
               letter-spacing: 2px;

           }

           .nav img {
               float: right;
               height: 2rem;
           }

           .Titd {
               color: black;
               font-weight: bolder;
               margin-bottom: 3rem;
               letter-spacing: 1px;
           }

           .Titu {
               color: #808080;
               font-weight: bold;
               letter-spacing: 1px;
           }

           .Titt {
               color: #666666;
               font-weight: bold;
               margin-bottom: 3rem;
               letter-spacing: 1px;
           }

           .submain2 {
               padding-top: 4rem;
           }

           .cajacentral {
               display: flex;
               justify-content: space-evenly;
               align-items: stretch;
               flex-flow: row wrap;
           }

           .par1 {
               display: flex;
               min-width: 480px;
               min-height: 150px;
               justify-content: space-evenly;
               margin-bottom: 1.2rem;
           }

           .par2 {
               display: flex;
               min-width: 480px;
               min-height: 150px;
               justify-content: space-evenly;
           }

           .box {
               flex: 1;
               min-width: 200px;
           }

           .cajacentral .box img {
               max-width: 80%;
               display: block;
               margin-right: 1rem;
               margin-left: 1rem;
           }

           .cajacentral .box img {
               width: 100%;
               display: block;
               margin-right: auto;
               margin-left: auto;
           }
       }

       /* ||| Breakpoint 1100px ||| */

       @media (min-width: 1100px) {
           .par1 {
               display: flex;
               min-width: 800px;
               min-height: 150px;
               justify-content: space-evenly;
               margin-bottom: 3rem;
           }

           .par2 {
               display: flex;
               min-width: 800px;
               min-height: 150px;
               justify-content: space-evenly;
           }
       }
   }