/*POSICION FOOTER HASTA ABAJO*/
html{
    min-height: 100%;
    
    position: relative;
}

body {
    margin: 0;

}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width:100%;
}
/*CENTRAR Y PANEL DE DETALLES CREDITO DINAMICO*/
.container-fluid {

    margin: 0;
}

.iframe_detalles-credito {
    width: 100%;

    height: 600px;
    overflow: hidden;
    border: none;
    /*display: block;*/
}

#btn-detalles {
    display: none;

}

#detalles_credito {
    display: block;
}

.sin-estilo_input-file{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    
}

.label_input-file{
    font-size: 16px;
    color:#fff;
    background-color:#3d556f;
    display: inline-block;
    width: 90%;
    /*transition: all .5s;*/
    cursor: pointer;
    padding: 15px 20px !important;
    text-align: center;
    }


@media(max-width:991px) {
    /*PANEL DE DETALLES CREDITO DINAMICO*/

    .iframe_detalles-credito {

        height: 620px;

    }

    #btn-detalles {
        display: block;
        justify-content: center;
    }

    #detalles_credito {
        display: none;
        }
}




