/* ||| General setup |||*/

html, body {
    margin: 0;
    padding: 0;
}

html {
    background-color: silver;
    margin: 0 auto;
}

body {
    font: normal 100%;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    background-color: #FFFFFF;
}

/*||| Fonts |||
           Tiene su propia CSS
       */


/* ||| General Typography ||| */

h1, h2, h3, h4, h5, h6 {
    font-family: 'proxima_nova_scosfregular', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 1rem;
}

p {
    font-family: 'latoregular', sans-serif;
    font-size: .8rem;
    color: #C0C0C0;
    margin-bottom: 1rem;
    line-height: 1.2;
}

button, input, select, textarea {
    font-family: 'latoregular', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
}


/* ||| Links settings ||| */

a:link {
    text-decoration: none;
}

a:hover {
    /*border: 5px solid dodgerblue;
        border-radius: 12px;*/
}

a:active {
    /*border: 5px solid dodgerblue;
        border-radius: 12px;
        color: dodgerblue;*/
}

.solomenu.a:hover {
    /*color: red;*/
}

.solomenu.a:active {
    /*color: red;*/
}


/* ||| Header settings ||| */

header {
    margin-top: .1rem;
    margin-bottom: .5rem;
    padding: .5rem 1rem;
}

.section {
    display: flex;
    height: 1.5rem;
}

.article {
    flex: 1;
}

.article1 {
    flex: 1;
}

.article2 {
    flex: 1;
    padding-right: 0 5rem;
}

header img {
    float: left;
    height: 1.5rem;
}

nav img {
    float: right;
    height: 1.5rem;
}


/* ||| Main layout ||| */

main {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 1rem;
}


/* ||| Seccion main titulos ||| */

.Titu {
    font-family: 'proxima_nova_scosfregular', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    color: #808080;
    margin-bottom: 0;
}

.Titd {
    font-family: 'proxima_nova_scosfregular', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    color: #000000;
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.Titt {
    font-family: 'latoregular', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: #666666;
    margin-bottom: 1rem;
}


/* |||  New Main  |||  */

.centrarcuadro {
    display: flex;
    justify-content: center;
    align-content: center;
}

.formatoacifra {
    border: 4px solid silver;
    padding: 1rem;
    font-size: 1.3rem;
    width: 260px;
    font-weight: bold;
}

#prOutputId {
    font-family: 'latoregular', sans-serif;
    padding: 1rem;
    font-size: 1.3rem;
    width: 260px;
    font-weight: bold;
}

input[type="range"] {
    -webkit-appearance: none;
    height: 9px;
    padding: 0;
    outline: 1px solid transparent;
    width: 260px;
    min-width: 260px;
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
}

input[type="range"] {
    background-image: linear-gradient(to right, blue calc(var(--value)*1%), white 0);
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: white;
    border: solid silver 1px;
    width: 24.5px;
    height: 24.5px;
    border-radius: 50%;
    margin-top: -3.6px;
}

.minflex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.min1 {
    flex: 1;
    text-align: left;
}

.minmiddle {
    flex: 1;
}

.min2 {
    flex: 1;
    text-align: right;
}

.minlabel {
    text-align: center;
    font-family: 'latoregular', sans-serif;
    font-size: .7rem;
    margin-top: .25rem;
    margin-bottom: .7rem;
}

    .minlabel span {
        font-weight: bold;
    }


.minflex2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 260px;
    min-width: 260px;
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.min12 {
    flex: 1;
    text-align: left;
}

.minmiddle2 {
    flex: 4;
}

.min22 {
    flex: 1;
    text-align: right;
}

.minlabel {
    text-align: center;
    font-family: 'latoregular', sans-serif;
    font-size: .7rem;
    margin-top: .25rem;
    margin-bottom: .7rem;
}

    .minlabel span {
        font-weight: bold;
    }
     

/* |||  Datos para Enganche  |||  */

.submain2 {
    padding-top: 4rem;
}

form .engancheform .mensualidadform .ingresosform {
    text-align: left;    
}

ol, ul {
    font-family: 'latoregular', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    list-style-type: none;
    padding: 1rem;
    list-style: inside;
}

.bigblock {
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 3rem;
    text-align: justify;
    list-style-type: circle;
    list-style-position: outside;
    margin-bottom: 1rem;
}

form label {
    font-size: 1.3rem;
    color: midnightblue;
}

input {
    -webkit-appearance: none;
    text-align: right;
    border: none;
    border-bottom: 3px solid silver;
    width: 200px;
    line-height: 1.5rem;
    font-size: 1rem;
    margin-bottom: .75rem;
    color: black;
    padding-right: 1rem;
    padding-left: 1rem;
}

.item-boton {
   /* font-weight: bold;*/
    font-size: 1.3rem;
    }

#porcentajeenganche, #porcentFinanciamiento, #porcentCofi {
    font-family: 'latoregular', sans-serif;
    box-sizing: border-box;
    text-align: right;
    border: 3px solid silver;
    background-color: lightyellow;
    width: 230px;
    line-height: 1.5rem;
    font-size: 1rem;
    margin-bottom: .75rem;
    color: black;
    padding: 0 .5rem;
}

#valorenganche, #valorFinanciamiento, #valorCofin, #valorMensualidad, #ingresoMensNeto, #otrosIngresos, #valorenganchemasmensualidad {
    font-family: 'latoregular', sans-serif;
    box-sizing: border-box;
    text-align: right;
    border: none;
    border-bottom: 3px solid silver;
    width: 230px;
    line-height: 1.5rem;
    font-size: 1rem;
    margin-bottom: .75rem;
    color: black;
    padding: 0 .5rem;
}

select {
    font-size: 1rem;
    width: 230px;
    color: black;
    margin-bottom: .75rem;
}

.Titt2 {
    font-family: 'latoregular', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    color: #666666;
    margin-bottom: 1rem;
}

.solosi {
    font-size: .7rem;
    font-style: italic;
}

/*--------------------------------------------------------------------------------------*/

/* ||| Years Flexbox ||| */
.yearsflex {
    display: flex;
    justify-content: space-evenly;
    margin-right: 1rem;
    margin-left: 1rem;
}

.a1 {
    flex: 1;
    border: 30px;
    height: 3rem;
    min-width: 50px;
    padding: 0 18px;
    font-size: 1.5rem;
    text-align: center;
    color: darkslategrey;
    background-color: lightgray;
}

    .a1:hover {
        background-color: steelblue;
        color: white;
    }

    .a1:active {
        background-color: steelblue;
        color: white;
    }

    .a1:visited {
        background-color: steelblue;
        color: white;
    }

form {
    text-align: center;
}

.formatoacifra2 {
    border-bottom: 3px solid silver;
    font-size: 1.6rem;
    width: 500px;
    font-weight: bold;
}

.formatoacifra3 {
    font-size: 1.8rem;
    width: 500px;
    font-weight: bold;
    color: dodgerblue;
}

#prOutputId {
}

#prInputId {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0;
}


/* ||| Ultima(cuarta) seccion main ||| */

.finalblock {
    display: block;
    border: 5px solid silver;
    border-radius: 16px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.finalblocktxt {
    display: block;
    border: none;
    margin: 1rem 3rem;
}

    .finalblocktxt p {
        font-size: 1rem;
    }

.Titfinal {
    font-family: 'proxima_nova_scosfregular', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: #000000;
    margin-top: 0;
    font-weight: bold;
}

.Tittfinal {
    font-family: 'latoregular', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #666666;
    margin-bottom: 1rem;
}

.cajacentral {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
    grid-gap: 7px 10px;
    margin-bottom: 1rem;
}

.box1 {
    text-align: right;
    max-width: 140px;
}

.box2 {
    text-align: left;
    max-width: 140px;
}

.cajacentral p {
    font-family: 'latoregular', sans-serif;
    margin-top: .5rem;
    font-size: .75rem;
    color: #666666;
}

.parabtnfinal {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
}

.btnconfirmar {
    font-family: 'latoregular', sans-serif;
    font-size: 1.8rem;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: steelblue;
    padding: 1rem 3rem;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.disclaimer {
    font-size: 8px;
    text-align: center;
    color: silver;
    padding: .5rem;
}

/* ||| Footer ||| */
footer {
}



/* ||| Breakpoint 648px ||| */

@media (min-width: 648px) {
    header {
        margin-top: .1rem;
        padding: .5rem 1rem;
    }

    hr {
        margin-bottom: 0;
    }

    .section {
        display: flex;
        height: 2.2rem;
    }

    header img {
        float: left;
        height: 2rem;
    }

    nav img {
        float: right;
        height: 2rem;
    }

    main {
        display: grid;
        grid-template-columns: 30% 70%;
        margin: 0;
        padding: 0;
    }

    .submain {
        background-color: #dbdbdb;
        padding-top: 4rem;
    }

    .Titd {
        color: black;
        font-weight: bolder;
        margin-bottom: 3rem;
    }

    .Titu {
        color: #808080;
        font-weight: bold;
    }

    .Titt {
        color: #666666;
        font-weight: bold;
        margin-bottom: 3rem;
    }

    .bigblock {
        padding-left: 3rem;
    }
}



/* ||| Breakpoint 1100px ||| */

@media (min-width: 1100px) {

    .bigblock {
        padding-left: 7rem;
    }


.item-boton {
    color: #191970;
    width: 150px;
}

.item-contenido {
    overflow: hidden;
    max-height: 0px;
}

.activo + .item-contenido {
    max-height: 500px;
}
}

/*clases para expandir las opciones*/
.item-boton{
    color: midnightblue;
    /*width:150px;*/
}
.item-contenido{
    overflow: hidden;
    max-height: 0px;
}

.activo + .item-contenido{
    max-height: 500px;
}

.colorNegro{
    color:black;
}

/*  color: #999999;  strong Gray*/
/*  color: #C0C0C0;  Silver Txt*/
/*  color: #666666;  pale Gray*/
/*  color: #808080;  Gray Txt*/